@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@font-face {
  font-family: Grotesc;
  src: url('../src/assets/Fonts/SpaceGrotesk-Medium.ttf');
}
@font-face {
  font-family: Grotesc-bold;
  src: url('../src/assets/Fonts/SpaceGrotesk-Bold.ttf');
}
@font-face {
  font-family: Roboto;
  src: url('../src//assets//Fonts/Roboto-Regular.ttf');
}
@import 'tailwindcss';

@theme {
  --tracking-h1: 9.5%;
  --tracking-sh2: 20px;
  --color-brand: #1da1f2;
  --color-blue1: #0e33cb;
  --color-bl2: #1f45e4;
  --color-db1: #121d50;
  --color-db2: #090e23;
  --color-gr2: #5c6c7b;
  --color-gr1: #edf0f3;
  --color-org: #ec4621;
  --text-sh2: 0.9rem;
  --text-b1: 1.13rem;
  --text-b2: 1rem;
  --text-h2: 3rem;
  --text-h3: 2.5rem;
  --text-h4: 2rem;
  --text-h5: 1.6rem;
  --text-cap: 0.75rem;
  --text-sh1: 1.12rem;
  --font-grotesc: Grotesc, 'sans-serif';
  --font-grotesc-bold: Grotesc-bold, 'sans-serif';
  --font-roboto: Roboto, 'sans-serif';
  --font-b1: Roboto, 'sans-serif';
  --font-sh2: Grotesc, 'sans-serif';
  --font-sh1: Grotesc, 'sans-serif';
  --font-h5: Grotesc, 'sans-serif';
  --font-h4: Grotesc-bold, 'sans-serif';
  --font-h3: Grotesc-bold, 'sans-serif';
  --font-h2: Grotesc-bold, 'sans-serif';
  --font-cap: Roboto, 'sans-serif';
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* prevents horizontal scroll */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* font-family: "Space Grotesk", system-ui, sans-serif; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
@media (min-width: 640px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 14px;
  }
}
